@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.custom .slick-list{
  padding-top: 3.5rem ;
}
.custom .slick-dots li.slick-active button:before{
height: 7px !important;
color: #7251A2 !important;
border-radius: 100px !important;
}
:where(.css-dev-only-do-not-override-1vtf12y).ant-input-search >.ant-input-group >.ant-input-group-addon:last-child .ant-input-search-button {
  background-color: #67C6B0;
}

:where(.css-dev-only-do-not-override-1vtf12y).ant-tabs >.ant-tabs-nav .ant-tabs-nav-list, :where(.css-dev-only-do-not-override-1vtf12y).ant-tabs >div>.ant-tabs-nav .ant-tabs-nav-list{
  gap: 38px;
}
:where(.css-dev-only-do-not-override-1vtf12y).ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  font-weight: 600;
  font-size: 14px;
  color:#67C6B0 !important;
}
:where(.css-dev-only-do-not-override-1vtf12y).ant-tabs .ant-tabs-ink-bar{
  background-color: #67C6B0;
}
:where(.css-dev-only-do-not-override-1vtf12y).ant-tabs .ant-tabs-tab:hover{
  color: #67C6B0;
}

:where(.css-dev-only-do-not-override-1vtf12y).ant-pagination .ant-pagination-next .ant-pagination-item-link{
  color: #67C6B0;
}
.ant-pagination a[rel~='nofollow'] {
outline:none !important;
}

.PhoneInputInput{
  width: 376px;
  background-color: #fafafa;
  outline: none;

}
.PhoneInput{
  border: 1px solid #EEEEEE;
  border-radius: 4px;
 

}

.custom-table:where(.css-dev-only-do-not-override-1vtf12y).ant-table-wrapper .ant-table-thead >tr>th{
  color: #959595;
  font-size: 20px;
  font-weight: 500;
  background: transparent;
  border-bottom: 1px solid #acacac;


}
.list-table:where(.css-dev-only-do-not-override-1vtf12y).ant-table-wrapper .ant-table-thead >tr>th{
color:#323232;
font-size: 20px;
font-weight: 400;
background: transparent;
}

.custom-table:where(.css-dev-only-do-not-override-1vtf12y).ant-table-wrapper .ant-table-thead >tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before ,.list-table:where(.css-dev-only-do-not-override-1vtf12y).ant-table-wrapper .ant-table-thead >tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before{
  width: 0px;
}

.list-table:where(.css-dev-only-do-not-override-1vtf12y).ant-table-wrapper .ant-table-thead >tr>td{
  border: none;
}